<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show example</title>
</head>
<body>
    <!-- 设置的变量 -->
    {% set user = "John" %}
    {% set age = 1 %}
    {% set navigation %}
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
    {% endset %}

    <!-- 在这里可以使用设置的变量，例如： -->
    <ul>{{ navigation }}</ul>
    <h1>Hello, {{ user }}!</h1>
    <p>You are {{ age }} years old.</p>
    <p>Another paragraph with {{ user }} and {{ age }}.</p>

    <!-- 被app.context_processor修饰的自定义上下文访问 -->
    <ul>
        <li>{{ foo }}</li>
        <li>{{ foo1 }}</li>
        <li>{{ foo2 }}</li>
        <li>{{ foo3 }}</li>
    </ul>
    <!-- 被app.template_global修饰的自定义全局函数 -->
    <ul>
        <li>{{ myBar() }}</li>
        <li>{{ myBar2() }}</li>
    </ul>
    <!-- 被app.template_filter修饰的自定义过滤器 -->
    <h5>{{ '自定义过滤器'|myMusical }}</h5>
    <h5>{{ '自定义过滤器2'|myMusical2 }}</h5>

    <!-- 被app.template_test修饰的自定义测试器 -->
    {% if 'baz' is testBaz %}
        <i>入参是baz</i>
    {% else %}
        <i>入参不是baz</i>
    {% endif %}
    <br>
    {% if 'baz' is testBaz2 %}
        <i>入参是baz2</i>
    {% else %}
        <i>入参不是baz2</i>
    {% endif %}
    <br>
    <!-- 宏 -->
    {% from 'macros.html' import qux with context%}
    {{ qux(amount=1) }}

</body>
</html>