<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}'s Watchlist</title>
</head>
<body>
    <a href="{{ url_for('index') }}">&larr; Return</a>
    <img src="{{ url_for('static', filename='avatar.jpg') }}" width="50">
    <h2>{{ user.username }}</h2>
    {% if user.bio %}
        <i>{{ user.bio }}</i>
    {% else %}
        <i>该用户未提供个人简介</i>
    {% endif %}
    <h5>{{ user.username }}'s Watchlist ({{ movies|length }}):</h5>
    <ul>
        {% for movie in movies %}
            <li>{{ movie.name }} - {{ movie.year }}</li>
        {% endfor %}
    </ul>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</body>
</html>